opencv-python>=4.8.0
mediapipe>=0.10.0
pyautogui>=0.9.54
pynput>=1.7.6
customtkinter>=5.2.0
numpy>=1.24.0
pycaw>=20230407
screen-brightness-control>=0.21.0
loguru>=0.7.0
comtypes>=1.2.0
pillow>=10.0.0
